header {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  background-color: rgba(0,0,0,.5);
  h1  {
    width: 8em;
    margin: 0 auto;
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.65);
  }
  .mynavbar {
      ul {
        margin: 10px;
        padding: 0 0 0 39px;
      }
    margin: $navMargin auto;
    width: $navWidth;
    .navButton{
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective($buttonPerspective) translateZ(0);
      transform: perspective($buttonPerspective) translateZ(0);
      box-shadow: 0 0 $buttonBoxShadow transparent;
      -webkit-transition-duration: $buttonTransition;
      transition-duration: $buttonTransition;
      -webkit-transition-property: transform;
      transition-property: transform;
      background-color: rgba(255, 255, 255, 0.65);
    }
    .navButton:hover, .navButton:focus, .navButton:active {
      -webkit-transform: scale($buttonTransform);
      transform: scale($buttonTransform);
    }
  }
}
