header {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  background-color: rgba(0,0,0,.5);
  h1  {
    width: 8em;
    margin: 0 auto;
    font-size: 3em;
    border: 1px solid #8e8e8e;
    color: #000000;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset #e4e4e4 1px 1px 0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: rgba(239, 251, 248, 0.95);

    &:focus{
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
  }
  .mynavbar {
      ul {
        margin: 10px;
        padding: 0 0 0 80px;
      }
    margin: $navMargin auto;
    width: $navWidth;
    .navButton{
      color: #000000;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective($buttonPerspective) translateZ(0);
      transform: perspective($buttonPerspective) translateZ(0);
      box-shadow: 0 0 $buttonBoxShadow transparent;
      -webkit-transition-duration: $buttonTransition;
      transition-duration: $buttonTransition;
      -webkit-transition-property: transform;
      transition-property: transform;
      background-color: rgba(239, 251, 248, 0.95);
    }
    .navButton:hover, .navButton:focus, .navButton:active {
      -webkit-transform: scale($buttonTransform);
      transform: scale($buttonTransform);

    }
  }
}
