// Header

$homePageTextBg: rgba(239, 251, 248, 0.45);
$headerBackgroundColor: #EFFBF8;

$navMargin: 0;
$navWidth: 21%;

$buttonPerspective: 1px;
$buttonBoxShadow: 1px;
$buttonTransition: 0.3s;
$buttonTransform: 1.1;
