<form name='searchDrink' ng-submit='list.lookUpDrink(list.drinkName)'>
  <input
    type='text'
    name='searchDrink'
    placeholder='Type your cocktail here!'
    ng-model='list.drinkName'
    required>
  <input type='submit' value='submit'>
  <section class='searchDrink' ng-show='list.displayDrinkDetails'>
        <ul>
          <li>{{list.drink[0].strDrink}}</li>
          <li>{{list.drink[0].strCategory}}</li>
          <li>{{list.drink[0].strGlass}}</li>
          <li>{{list.drink[0].strInstructions}}</li>
        </ul>
    <section>
      <ul>
        <li>
          <img ng-show='list.drink[0].strIngredient1'src="http://www.thecocktaildb.com/images/ingredients/{{list.drink[0].strIngredient1}}-small.png">
          <p>{{list.drink[0].strIngredient1}}</p>
          <p>{{list.drink[0].strMeasure1}}</p>
        </li>
        <li>
          <img ng-show='list.drink[0].strIngredient2'src="http://www.thecocktaildb.com/images/ingredients/{{list.drink[0].strIngredient2}}-small.png">
          <p>{{list.drink[0].strIngredient2}}</p>
          <p>{{list.drink[0].strMeasure2}}</p>
        </li>
        <li>
          <img ng-show='list.drink[0].strIngredient3'src="http://www.thecocktaildb.com/images/ingredients/{{list.drink[0].strIngredient3}}-small.png">
          <p>{{list.drink[0].strIngredient3}}</p>
          <p>{{list.drink[0].strMeasure3}}</p>
        </li>
        <li>
          <img ng-show='list.drink[0].strIngredient4'src="http://www.thecocktaildb.com/images/ingredients/{{list.drink[0].strIngredient4}}-small.png">
          <p>{{list.drink[0].strIngredient4}}</p>
          <p>{{list.drink[0].strMeasure4}}</p>
        </li>
        <li>
          <img ng-show='list.drink[0].strIngredient5'src="http://www.thecocktaildb.com/images/ingredients/{{list.drink[0].strIngredient5}}-small.png">
          <p>{{list.drink[0].strIngredient5}}</p>
          <p>{{list.drink[0].strMeasure5}}</p>
        </li>
      </ul>
    </section>
    <cite>
      <img src='{{list.drink[0].strDrinkThumb}}'>
    </cite>
  </section>

  <ul class='randomPictures1'>
    <li class= 'randomClass' ng-repeat='randomDrink in list.randomDrinkArray'>
      <img class='picturesRandom' src='{{randomDrink.strDrinkThumb}}'>
      <p>{{randomDrink.strDrink}}</p>
    </li>
  </ul>

  <!-- <cite class="randomPicture">
    <img src='{{list.randomDrink.strDrinkThumb}}'>
    <img src='{{list.randomDrink1.strDrinkThumb}}'>
    <img src='{{list.randomDrink2.strDrinkThumb}}'>
    <img src='{{list.randomDrink3.strDrinkThumb}}'>
    <img src='{{list.randomDrink4.strDrinkThumb}}'>
    <img src='{{list.randomDrink5.strDrinkThumb}}'>
  </cite> -->


</form>

<!-- <ul>
  <li ng-repeat='drink in list.drinks'>
    <h1>{{drink.strDrink}}</h1>
    <img src='{{drink.strDrinkThumb}}'>
  </li>
</ul> -->
